﻿@using DdJob.Authorization
@model DdJob.Web.Models.Layout.LeftSideViewModel

<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>@Model.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> @L("Online")</a>
            </div>
        </div>
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="@L("Search")">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        <ul class="sidebar-menu">
            @*<li class="header">MAIN NAVIGATION</li>*@
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Home_Admin))
            {
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>@L("HomePage")</span></a></li>
            }
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Home_Bank))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>银行管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_UserList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Bank")"><i class="fa fa-user"></i> 银行列表</a></li>
                        }
                        <li><a href="@Url.Action("Index", "Department")"><i class="fa fa-user"></i> 部门列表</a></li>

                    </ul>
                </li>
            }
            @*@if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Home_Business))
                {
                    <li><a href="@Url.Action("Business", "Home")"><i class="fa fa-home"></i> <span>@L("HomePage")</span></a></li>
                }
                @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Home_Branch))
                {
                    <li><a href="@Url.Action("Branch", "Home")"><i class="fa fa-home"></i> <span>@L("HomePage")</span></a></li>
                }*@
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_User))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>@L("UserManage")</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_UserList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Users")"><i class="fa fa-user"></i> @L("UserList")</a></li>
                        }
                    </ul>
                </li>
            }
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Role))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-cubes"></i> <span>@L("RoleManage")</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_RoleList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Role")"><i class="fa fa-cube"></i> @L("RoleList")</a></li>
                        }
                    </ul>
                </li>
            }
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Order))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>订单管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>

                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_OrderList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Order")"><i class="fa fa-user"></i> 订单列表 </a></li>
                        }

                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_OrderList_Business))
                        {
                            <li><a href="@Url.Action("Business", "Order")"><i class="fa fa-user"></i> 商家订单列表 </a></li>
                        }
                    </ul>
                </li>
            }
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Business))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>商户管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_BusinessList_Admin))

                        {
                            <li><a href="@Url.Action("Index", "Business")"><i class="fa fa-user"></i> 商户列表 </a></li>

                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_BranchList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Branch")"><i class="fa fa-user"></i> 门店列表 </a></li>
                        }
                    </ul>
                </li>
            }
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Product || c.Name == PermissionNames.Pages_Category
            || c.Name == PermissionNames.Pages_ProductAttribute || c.Name == PermissionNames.Pages_ProductHomePartition))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>商品管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_CategoryList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Category")"><i class="fa fa-user"></i> 分类管理 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ProductAttributeList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "ProductAttribute")"><i class="fa fa-user"></i> 商品属性管理 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ProductHomePartitionList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "ProductHomePartition")"><i class="fa fa-user"></i> 首页分区列表 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ProductList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Product")"><i class="fa fa-user"></i> 产品列表 </a></li>
                        }
                    </ul>
                </li>
            }
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Integral))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-cubes"></i> <span>积分管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_IntegralImport_Admin))
                        {
                            <li><a href="@Url.Action("Import", "Integral")"><i class="fa fa-cube"></i> 积分导入</a></li>
                        }
                        <li><a href="@Url.Action("Index", "Integral")"><i class="fa fa-cube"></i> 积分列表</a></li>
                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_VirtualTicket))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-cubes"></i> <span>卡券管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_VirtualTicketImport_Admin))
                        {
                            <li><a href="@Url.Action("Import", "VirtualTicket")"><i class="fa fa-cube"></i> 卡券导入</a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_VirtualTicketCreate_Admin))
                        {
                            <li><a href="@Url.Action("Create", "VirtualTicket")"><i class="fa fa-cube"></i> 卡券生成</a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_VirtualTicketlList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "VirtualTicket")"><i class="fa fa-cube"></i> 卡券列表</a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_VirtualTicketChange_Admin))
                        {
                            <li><a href="@Url.Action("Change", "VirtualTicket")"><i class="fa fa-cube"></i> 卡券兑换</a></li>
                        }
                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_WhiteList))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-cubes"></i> <span>白名单管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_WhiteListImport_Admin))
                        {
                            <li><a href="@Url.Action("Import", "WhiteList")"><i class="fa fa-cube"></i> 白名单导入</a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_WhiteListList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "WhiteList")"><i class="fa fa-cube"></i> 白名单列表</a></li>
                        }

                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Banner))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>基础管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>

                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Banner_Admin))
                        {
                            <li><a href="@Url.Action("Index", "Banner")"><i class="fa fa-user"></i> 滚动图管理 </a></li>
                        }
                        <li><a href="@Url.Action("Index", "CustomSetting")"><i class="fa fa-user"></i> 系统配置 </a></li>

                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Report))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>商家报表</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>

                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ReportGather_Admin))
                        {
                            <li><a href="@Url.Action("Gather", "Report")"><i class="fa fa-user"></i> 结算汇总 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ReportGather_Admin))
                        {
                            <li><a href="@Url.Action("Detail", "Report")"><i class="fa fa-user"></i> 结算明细 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ReportGather_Admin))
                        {
                            <li><a href="@Url.Action("Product", "Report")"><i class="fa fa-user"></i> 产品汇总 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ReportGather_Business))
                        {
                            <li><a href="@Url.Action("BusinessGather", "Report")"><i class="fa fa-user"></i> 商家结算汇总 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ReportGather_Business))
                        {
                            <li><a href="@Url.Action("BusinessDetail", "Report")"><i class="fa fa-user"></i> 商家结算明细 </a></li>
                        }
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ReportGather_Business))
                        {
                            <li><a href="@Url.Action("BusinessProduct", "Report")"><i class="fa fa-user"></i> 商家产品汇总 </a></li>
                        }
                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_Message))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>消息管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Message")"><i class="fa fa-user"></i> 消息管理 </a></li>
                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_BusinessType || c.Name == PermissionNames.Pages_CollectionData))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>数据采集</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_BusinessTypeList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "BusinessType")"><i class="fa fa-user"></i>业务品种</a></li>
                        }

                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_CollectionDataList_Admin))
                        {
                            <li><a href="@Url.Action("Index", "CollectionData")"><i class="fa fa-user"></i>数据采集</a></li>
                        }

                    </ul>
                </li>
            }

            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_AdvisoryRequest))
            {
                <li class="treeview">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i> <span>咨询类产品请求</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_AdvisoryRequestList_Admin))
                        {
                            <li>
                                <a href="@Url.Action("Index", "AdvisoryRequest")"><i class="fa fa-user"></i>咨询类产品请管理</a>
                                        </li>
                        }
                        </ul>
                    </li>
                    }

                </ul>
            </section>
        </aside>
        <script>
    var $items = $(".sidebar-menu li a");
    var i = 0;
    $items.each(function () {
        if (window.location.href.indexOf($(this).attr("href")) > 0) {
            i++;
            $(this).parent().addClass("active");
            $(this).parent().parent().parent().addClass("active");
        } else {
            $(this).parent().removeClass("active");
            $(this).parent().removeClass().parent().addClass("active");
        }
        if (i === 0) {
            $($items[0]).parent().addClass("active");
        } else {
            $($items[0]).parent().removeClass("active");
        }
    });
        </script>