﻿@using DdJob.Authorization
@using DdJob
@using DdJob.Core.Users
@model DdJob.Web.Models.Layout.HeaderViewModel

<header class="main-header">
    <a href="/home" class="logo">
        <span class="logo-mini">@L("DdJob")</span>
        <span class="logo-lg">@L("DdJobFullName")</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">                
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />
                        <span class="hidden-xs">@Model.Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />
                            <p>
                                @Model.Name
                                <br/>
                                @Model.UserType
                                <small>创建于：@Model.CreationTime</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                @*<a href="#" class="btn btn-default btn-flat">Profile</a>*@
                                <a href="#" class="btn btn-default btn-block btn-flat" data-toggle="modal" data-target="#ChangePwdModal">@L("ChangePassword")</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Account")" class="btn btn-block btn-danger btn-logout">@L("SignOut")</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @*<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>*@
            </ul>
        </div>
    </nav>
</header>

<div class="modal fade" id="ChangePwdModal" tabindex="-1" role="dialog" aria-labelledby="ChangePwdModal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="itemCreateForm" role="form" class="form-validation" action="javascript:;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">@L("ChangePassword")</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>@L("OldPassword")*</label>
                        <input type="password" name="OldPassword" class="form-control" required minlength="6" maxlength="@User.MaxPlainPasswordLength">
                    </div>
                    <div class="form-group">
                        <label>@L("NewPassword")*</label>
                        <input type="password" name="NewPassword" class="form-control" required minlength="6" maxlength="@User.MaxPlainPasswordLength">
                    </div>
                    <div class="form-group">
                        <label>@L("InputAgain")*</label>
                        <input type="password" class="form-control pwd-Again" required minlength="6" maxlength="@User.MaxPlainPasswordLength">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ChangePwdSuccessModal" tabindex="-1" role="dialog" aria-labelledby="ChangePwdSuccessModal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="itemCreateForm" role="form" class="form-validation" action="javascript:;">
                <div class="modal-header">
                    <h4 class="modal-title">修改成功</h4>
                </div>
                <div class="modal-body">
                    <p>密码修改成功，请重新登录！</p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary blue btn-relogin" data-dismiss="modal">重新登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        var _$modal = $('#ChangePwdModal');
        var _$form = _$modal.find('form');

        _$form.validate();

        _$form.find('button[type="submit"]').click(function (e) {
            e.preventDefault();

            if (!_$form.valid()) {
                return;
            }
            var model = _$form.serializeFormToObject(); //serializeFormToObject is defined in main.js          
            var data = JSON.stringify(model);
            if (model.NewPassword !== $("input.pwd-Again").val()) {
                abp.notify.error("两次输入的新密码不一致", "通知");
                return;
            }
            else if (model.OldPassword === model.NewPassword) {
                abp.notify.error("新密码不能与原密码相同", "通知");
                return;
            }
            abp.ui.setBusy(_$modal);
            $.ajax({
                type: "post",
                url: "/api/user/ChangePassword",
                contentType: "application/json",
                data: data,
                success: function (result) {
                    if (result.success && result.data) {
                        abp.ui.clearBusy(_$modal);
                        abp.notify.success("修改成功", "通知");
                        _$modal.modal('hide');
                        var _$relogmodal = $('#ChangePwdSuccessModal');
                        _$relogmodal.modal('show');
                    } else {
                        abp.ui.clearBusy(_$modal);
                        abp.notify.error("修改失败", "通知");
                    }
                },
                error: function (err) {
                    abp.ui.clearBusy(_$modal);
                    abp.notify.error(err.responseJSON.error.message, "通知");
                }
            });
        });

        $(".modal").on("click", ".btn-relogin", function () {
            window.location = "/account/logout";
        });

        $("#ChangePwdModal").on("click", ".btn-cancel", function () {
            $("input").each(function() {
                $(this).val("");
            });
        });
    });
</script>