﻿@using DdJob.Authorization
@model DdJob.Web.Models.Layout.HeaderViewModel

<header class="main-header">
    <a href="@Url.Action("Wx", "Exchange")" class="logo">
        <span class="logo-mini">@L("DdJob")</span>
        <span class="logo-lg">@L("DdJobFullName")</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />
                        <span class="hidden-xs">@Model.UserName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />
                            <p>
                                @Model.UserName
                                <br/>
                                @Model.UserType
                                <small>创建于：@Model.CreationTime</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Account")" class="btn btn-flat">@L("SignOut")</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>