﻿@using DdJob.Authorization
@model DdJob.Web.Models.Layout.LeftSideViewModel

<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/AdminLTE/avatar5.png" class="user-image" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>@Model.UserName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> @L("Online")</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ExchangeCard_Branch))
            {
                <li><a href="@Url.Action("Wx", "Exchange")"><i class="fa fa-keyboard-o"></i> @L("ValidCard")</a></li>
            }
            @*@if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_ExchangeRecord))
            {
                <li><a href="javascript:;"><i class="fa fa-tasks"></i> @L("ExchangeRecord")</a></li>
            }*@
            @if (Model.GrantedPermissions.Any(c => c.Name == PermissionNames.Pages_BankExchangeRecord_Branch))
            {
                <li><a href="@Url.Action("WxBranchBankRecords", "ExchangeRecord")"><i class="fa fa-tasks"></i> @L("BankExchangeRecord")</a></li>
            }
        </ul>
    </section>
</aside>