﻿@using Abp.Web.Mvc.Extensions
@using DdJob.Core.Users
@using Microsoft.Owin.Security
@model DdJob.Web.Models.Account.LoginFormViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>通兑积分管理平台 | 登录</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/js/plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="~/css/AdminLTE/AdminLTE.min.css" />
    @section Styles{
        @Html.IncludeStyle("~/Views/Account/Login.css")
    }
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div id="LoginArea" class="login-box">
        <div class="login-logo">
            登录
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">通兑积分管理平台</p>
            <fieldset>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="EmailAddressInput" placeholder="用户名" required maxlength="@User.MaxEmailAddressLength">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="PasswordInput" placeholder="密码" required maxlength="@User.MaxPlainPasswordLength">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <a href="#">忘记密码？</a><br>
                </div>
                <input id="ReturnUrlHash" type="hidden" name="returnUrlHash" />
                <div class="row">
                    <div class="col-xs-6">
                        <button id="LoginButton" type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-sign-in"></i>登录</button>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-default btn-block btn-flat" href="@Url.Action("Register")"><i class="fa fa-sign-in"></i>注册</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Abp/Framework/scripts/abp.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>

    <script>
        $(function () {
            $('#LoginButton').click(function (e) {
                e.preventDefault();
                abp.ui.setBusy(
                    $('#LoginArea'),
                    abp.ajax({
                        url: abp.appPath + 'Account/Login',
                        type: 'POST',
                        data: JSON.stringify({
                            tenancyName: "",
                            usernameOrEmailAddress: $('#EmailAddressInput').val(),
                            password: $('#PasswordInput').val(),
                            rememberMe: false,
                            returnUrlHash: $('#ReturnUrlHash').val()
                        })
                    })
                );
            });

            $('#ReturnUrlHash').val(location.hash);

            $('#LoginForm input:first-child').focus();
        });
    </script>
</body>
</html>
