﻿@using Abp.Web.Mvc.Extensions
@using DdJob.Core.Users
@model DdJob.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}

<div id="LoginArea" class="login-box">
    <div class="login-logo">
        登录
    </div>
    <div id="root-container" class="login-box-body">
        <home></home>
        <example></example>
        <p class="login-box-msg">@L("DdJobFullName")</p>
        <fieldset>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="EmailAddressInput" placeholder="@L("UserName")" required maxlength="@User.MaxEmailAddressLength">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="PasswordInput" placeholder="@L("Password")" required maxlength="@User.MaxPlainPasswordLength">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <input id="ReturnUrlHash" type="hidden" name="returnUrlHash"/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button id="LoginButton" type="submit" class="btn btn-primary btn-flat pull-right"><i class="fa fa-sign-in"></i>@L("LogIn")</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>