﻿@{
    ViewBag.Title = ("登录");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="root-container">
    <div class="fillcontain login_page-base">
        <login></login>
    </div>
</div>