﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using DdJob.Core.Users
@model DdJob.Web.Models.Users.IndexViewModel
@*@model Abp.Application.Services.Dto.ListResultDto<DdJob.Users.Dto.UserListDto>*@
@{
    ViewBag.ActiveMenu = "Users"; //The menu item will be active for this page.
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Users/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @L("UserList")
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> @L("UserManage")</li>
            <li><a href="javascript:;">@L("UserList")</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <select name="UserType" class="form-control pull-left" style="width: 180px;">
                                @foreach (var item in Model.UserTypeSource)
                                {
                                <option value="@item.Value">@item.Description</option>
                                }
                            </select>
                            <div class="input-group input-group pull-left search">
                                <input type="text" name="Key" class="form-control" placeholder="用户名">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right btn-showmodal" data-id="0"><i class="fa fa-plus"></i> @L("CreateNewUser")</button>
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#:NameText#</td>
                                    <td>#:UserTypeText#</td>
                                    <td>#:UserNameText#</td>
                                    <td>#:EmailAddressText#</td>
                                    <td>#:PhoneNumberText#</td>
                                    <td>#:IsActiveText#</td>
                                    <td>
                                        # if(CustomerIntegral != null){ #
                                        <a href="/Integral/Index?userId=#:Id#">#:CustomerIntegral#</a>
                                        # } #
                                    </td>
                                    <td>#:CreationTimeText#</td>
                                    <td>#:LastLoginTimeText#</td>
                                    <td style="text-align:left;">
                                        <button class="btn btn-sm btn-showmodal btn-info" data-id="#:Id#"><i class="fa fa-edit">编辑</i></button>
                                        <button class="btn btn-sm btn-delete btn-danger" data-id="#:Id#"><i class="fa fa-trash-o">删除</i></button>
                                        # if(IsShowChangePwd){ #
                                        <button class="btn btn-sm btn-changepassword btn-primary" data-id="#:Id#"><i class="fa fa-edit">修改密码</i></button>
                                        # } #
                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("Name")</th>
                                        <th>@L("UserType")</th>
                                        <th>@L("UserName")</th>
                                        <th>@L("EmailAddress")</th>
                                        <th>@L("PhoneNumber")</th>
                                        <th>@L("IsActive")</th>
                                        <th>积分</th>
                                        <th>@L("CreationTime")</th>
                                        <th>@L("LastLoginTime")</th>
                                        <th style="width:250px;">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="CreateUserModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><i class="fa fa-fw fa-user"></i></span>
                    <span>@L("CreateNewUser")</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab1" href="#tab_1" data-toggle="tab">@L("BaseInfo")</a></li>
                        <li><a id="tab2" href="#tab_2" data-toggle="tab">@L("RoleManage")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form name="itemBaseForm" role="form" class="itemBaseForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="form-group">
                                    <label>@L("UserName")*</label>
                                    <input type="text" name="UserName" class="form-control" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                </div>

                                <div class="form-group" id="PassWordDiv">
                                    <label>@L("Password")*</label>
                                    <input type="text" name="Password" class="form-control" required maxlength="@User.MaxPlainPasswordLength" value="123456" minlength="3">
                                </div>

                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input type="text" name="Name" class="form-control" required maxlength="@User.MaxNameLength">
                                </div>

                                <div class="form-group">
                                    <label>@L("EmailAddress")*</label>
                                    <input type="email" name="EmailAddress" class="form-control" maxlength="@AbpUserBase.MaxEmailAddressLength" required>
                                </div>

                                <div class="form-group">
                                    <label>@L("PhoneNumber")</label>
                                    <input type="tel" name="PhoneNumber" class="form-control" maxlength="20">
                                </div>

                                <div class="checkbox">
                                    <label class="chk-wrap">
                                        <input id="IsActive" class="chkbox" type="checkbox" name="IsActive" value="true" checked="checked">
                                        <label for="IsActive"></label> @L("IsActive")
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input id="Customer" type="hidden" value="@Model.CustomerValue" data-des="@Model.CustomerDescription" />
                                    <input id="UserTypeHidden" name="UserType" type="hidden" value="" />
                                    <label>@L("UserType")*</label>
                                    <select id="UserType" name="UserType" class="form-control" required>
                                        @foreach (var item in Model.UserTypeSource)
                                        {
                                        <option value="@item.Value">@item.Description</option>
                                        }
                                    </select>
                                </div>
                                @*银行*@
                                <div class="form-group hidden bank">
                                    <label>银行</label>
                                    <select name="BankId" id="BankId" class="form-control" required>
                                        @foreach (var item in Model.BankSource)
                                        {
                                        <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group hidden bank">
                                    <label>部门</label>
                                    <select id="DepartmentId" name="DepartmentId" class="form-control" required></select>
                                </div>
                                <div class="form-group hidden bank">
                                    <label>客户经理类型</label>
                                    <select id="CollectionType" name="CollectionType" class="form-control" required>
                                        @foreach (var item in Model.CollectionTypeSource)
                                        {
                                        <option value="@item.Value">@item.Description</option>
                                        }
                                    </select>
                                </div>
                                @*<div class="form-group hidden bank">
                                    <label>工号*</label>
                                    <input type="text" name="StaffNo" id="StaffNo" class="form-control" required maxlength="100" value="@Model.">
                                </div>*@
                                @*商户*@
                                <div class="form-group hidden business">
                                    <label>商户</label>
                                    <select name="BusinessId" id="BusinessId" class="form-control" required>
                                        @foreach (var item in Model.BusinessSource)
                                        {
                                        <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="checkbox hidden business">
                                    <label class="chk-wrap">
                                        <input id="IsAdmin" class="chkbox" type="checkbox" name="IsAdmin" value="true" checked="checked">
                                        <label for="IsAdmin"></label> 商户主账户
                                    </label>
                                </div>
                                <div class="form-group hidden business" id="BranchIdDiv">
                                    <label>门店（仅针对门店用户）</label>
                                    <select name="BranchId" id="BranchId" class="form-control">
                                        <option value="0">--请选择--</option>
                                    </select>
                                </div>

                                <div class="text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <form name="itemRolesForm" role="form" class="itemRolesForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="checkbox treeview-roles">
                                </div>
                                <div class="btns-group text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ChangePassWord" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><i class="fa fa-fw fa-user"></i></span>
                    <span>修改密码</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_10" data-toggle="tab">修改密码</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_10">
                            <input type="text" id="PwdUserId" name="PwdUserId" class="form-control hidden" value="0">
                            <div class="form-group">
                                <label>密码*</label>
                                <input type="password" name="NewPassword" id="NewPassword" class="form-control" required maxlength="@User.MaxPlainPasswordLength" minlength="6" value="">
                            </div>
                            <div class="form-group">
                                <label>确认密码*</label>
                                <input type="password" name="NewPasswordAgain" id="NewPasswordAgain" class="form-control" required maxlength="@User.MaxPlainPasswordLength" minlength="6" value="">
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                <button type="button" id="PwdSubmit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>