/* General styles for all menus */
.cbp-spmenu {
    background: white;
    position: fixed;
    overflow-y: auto;
}

    .cbp-spmenu .filter-actions {
        position: fixed;
        bottom: 0;
        width: 272px;
    }

        .cbp-spmenu .filter-actions .act-item {
            float: left;
            width: 50%;
            text-align: center;
        }

            .cbp-spmenu .filter-actions .act-item a {
                display: block;
            }

.cbp-spmenu-vertical {
    width: 50%;
    max-width: 500px;
    height: 100%;
    top: 0;
    z-index: 2000;
}

    .cbp-spmenu-vertical a {
        padding: 1em;
    }

.cbp-spmenu-right {
    right: -500px;
}

    .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }


/* Transitions */

.cbp-spmenu-tras {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* Example media queries */

@media screen and (max-width: 768px) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 85%;
    }
}

.filter-section {
    position: relative;
    padding: 8px 0;
    line-height: 24px;
    display: block;
    border-bottom: 1px solid #f2f2f2;
}

.filter-section>span {
    width: 60px;
    padding-left: 10px;
    padding-right: 6px;
}

.filter-section .filter-section-list {
    padding-top: 6px;
}

.filter-section .filter-section-list .filter-item {
    display: inline-block;
}

.filter-section .filter-section-list .filter-item input[type=checkbox]{
    display: none;
}



.filter-section .filter-section-list input[type=checkbox] + label {
    display: inline-block;
    font-size: 10px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    margin: 0 6px;
    padding: 0 6px;
    background: #f0f2f5;
    border: 1px solid #f0f2f5;
}

.filter-section .filter-section-list input[type=checkbox]:checked + label{
    border: 1px solid #fc0;
    color: #f00000;
    background-color: #fff;
}

/*.filter-section .filter-section-list span {
    display: inline-block;
    font-size: 10px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    margin: 0 6px;
    padding: 0 6px;
    background: #f0f2f5;
}

.filter-section .filter-section-list span.filter-item.active {
    border: 1px solid #fc0;
    color: #f00000;
    background-color: #fff;
}*/
