﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model DdJob.Web.Models.CustomSettings.IndexViewModel
@{
    ViewBag.ActiveMenu = "CustomSetting"; //The menu item will be active for this page.
    ViewBag.Title = "设置列表";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/CustomSetting/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            设置列表
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>设置管理</li>
            <li><a href="JavaScript:;">设置列表</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <select name="GroupType" class="form-control pull-left" style="width: 180px;">
                                @foreach (var item in Model.GroupTypeSource)
                                {
                                    <option value="@item.Value">@item.Description</option>
                                }
                            </select>
                            <div class="input-group input-group pull-left search">
                                <input type="text" name="Key" class="form-control" placeholder="关键字">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        @*<button class="btn btn-info pull-right btn-showmodal" data-dataid="0"><i class="fa fa-plus"></i>新建设置</button>*@
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#: Id #</td>
                                    <td>#: Key #</td>
                                    <td>#: Value #</td>
                                    <td>#: Name #</td>
                                    <td>#: GroupTypeText #</td>
                                    <td>#: CreationTimeText #</td>
                                    <td>
                                        <button class="btn btn-sm btn-showmodal btn-info" data-dataid="#:Id#"><i class="fa fa-edit">编辑</i></button>
                                        @*<button class="btn btn-sm btn-delete btn-danger" data-dataid="#:Id#"><i class="fa fa-trash-o">删除</i></button>*@
                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>键</th>
                                        <th>值</th>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>创建时间</th>
                                        <th style="width:150px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="CreateDataModal" tabindex="-1" role="dialog" aria-labelledby="CustomSettingCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><i class="fa fa-fw fa-user"></i></span>
                    <span>编辑设置</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab1" href="#tab_1" data-toggle="tab">@L("BaseInfo")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form name="itemBaseForm" role="form" class="itemBaseForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="form-group">
                                    <label>名称</label>
                                    <input type="text" name="Name" class="form-control" maxlength="50" required readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>键*</label>
                                    <input type="text" name="Key" class="form-control" required maxlength="50" minlength="1" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>值*</label>
                                    <input type="text" name="Value" class="form-control" maxlength="50" minlength="1">
                                </div>
                                <div class="form-group">
                                    <label>类型</label>
                                    <select name="GroupType" id="GroupType" class="form-control" disabled="disabled">
                                        @foreach (var item in Model.GroupTypeSource)
                                        {
                                            <option value="@item.Value">@item.Description</option>
                                        }
                                    </select>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>