﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/js/plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="~/js/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/css/AdminLTE/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/css/kendo/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/kendo/kendo.common-bootstrap.core.min.css" />
    <link rel="stylesheet" href="~/css/kendo/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/css/AdminLTE/skins/_all-skins.min.css" />

    @Styles.Render("~/Bundles/vendor/css")
    @Styles.Render("~/Bundles/css")
    <link rel="icon" href="~/favicon.ico" />

    @Scripts.Render("~/Bundles/vendor/js/top")
</head>
<body class="hold-transition skin-blue sidebar-mini DdJob">
    <div class="wrapper">
        @Html.Action("AdminLteHeader", "Layout")
        @Html.Action("AdminLteLeftSideBar", "Layout")
        @RenderBody()
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>版本</b> 1.0.0
            </div>
            <strong>版权 &copy; 2017 <a href="/home">中国光大银行重庆分公司</a>.</strong> 保留所有权利.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/plugins/fastclick/fastclick.js"></script>
    <script src="~/js/AdminLTE/app.min.js"></script>
    <script src="~/js/client/base.js"></script>
    <script src="~/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/js/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/js/kendo/kendo.ui.core.min.js"></script>
    <script src="~/js/kendo/kend.all.js"></script>
    @*<script src="~/js/kendo/kendo.culture.zh-CN.min.js"></script>*@
    <script src="~/js/kendo/kendo.messages.zh-CN.js"></script>
    <script src="~/js/plugins/laydate/laydate.dev.js"></script>
    <script src="~/js/plugins/fileupload/jquery.ui.widget.js"></script>
    <script src="~/js/plugins/fileupload/jquery.fileupload.js"></script>
    <script src="~/js/plugins/fileupload/jquery.iframe-transport.js"></script>
    @Scripts.Render("~/Bundles/vendor/js/bottom")
    <script src="~/js/custom.js"></script>
    <script src="~/js/DdJob.js"></script>
    <script src="~/js/bootstrap3-typeahead.js"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
