﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="~/JSTemplates/dist/css/client.css" rel="stylesheet" />
    <link rel="icon" href="~/favicon.ico" />

    <title>@ViewBag.Title</title>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->

    @Scripts.Render("~/Bundles/vendor/js/top")

</head>
<body class="hold-transition login-page">
    @RenderBody()

    <script src="~/js/DdJob.js"></script>
    <script src="~/JSTemplates/dist/js/vendor.js"></script>
    <script src="~/JSTemplates/dist/js/client.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
