﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model DdJob.Web.Models.Banners.IndexViewModel
@{
    ViewBag.ActiveMenu = "Banner"; //The menu item will be active for this page.
    ViewBag.Title = "Banner列表";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Banner/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Banner列表
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>Banner管理</li>
            <li><a href="JavaScript:;">Banner列表</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <div class="input-group input-group pull-left search">
                                <input type="text" name="LinkUrl" class="form-control" placeholder="链接">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info pull-right btn-showmodal" data-dataid="0"><i class="fa fa-plus"></i>新建Banner</button>
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#: Id #</td>
                                    <td><img src="#: MediaPath #" style="height:25px;" /></td>
                                    <td>
                                        # if(CategoryName != null){ #
                                        #: CategoryName #
                                        # } #
                                    </td>
                                    <td>#: LinkUrl #</td>
                                    <td>#: CreationTimeText #</td>
                                    <td>
                                        <button class="btn btn-sm btn-showmodal btn-info" data-dataid="#:Id#"><i class="fa fa-edit">编辑</i></button>
                                        <button class="btn btn-sm btn-delete btn-danger" data-dataid="#:Id#"><i class="fa fa-trash-o">删除</i></button>
                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>图片</th>
                                        <th>分类名称</th>
                                        <th>链接</th>
                                        <th>创建时间</th>
                                        <th style="width:150px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="CreateDataModal" tabindex="-1" role="dialog" aria-labelledby="BannerCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><i class="fa fa-fw fa-user"></i></span>
                    <span>新建Banner</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab1" href="#tab_1" data-toggle="tab">@L("BaseInfo")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form name="itemBaseForm" role="form" class="itemBaseForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                @*<input type="text" name="MediaId" id="MediaId" class="form-control" required maxlength="50" minlength="1">*@
                                <div class="form-group">
                                    <label>分类(首页Banner不用选择分类)</label>
                                    <select class="form-control" id="CategoryId" name="CategoryId">
                                        <option value="0">--请选择--</option>
                                        @foreach (var item in Model.Categorys.Where(t => t.ParentId == null || t.ParentId == 0).ToList())
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>图片*</label>
                                    <div class="row product">
                                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                            <div class="row preview">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="file-preview-thumbnails">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div tabindex="500" class="btn btn-primary btn-file"><i class="fa fa-folder-open"></i>&nbsp;  <span class="hidden-xs">浏览上传图片 …</span><input id="input-uploadimg" name="input-uploadimg" multiple="" type="file" accept="image/*"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>链接</label>
                                    <input type="text" id="LinkUrl" name="LinkUrl" class="form-control" maxlength="1000">
                                </div>

                                <div class="text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>