﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions

@model DdJob.Web.Models.Messages.IndexViewModel
@{
    ViewBag.ActiveMenu = "Message"; //The menu item will be active for this page.
    ViewBag.Title = "消息列表";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Message/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            消息列表
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>消息管理</li>
            <li><a href="JavaScript:;">消息列表</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <select name="ReadType" class="form-control pull-left" style="width: 180px;">
                                @foreach (var item in Model.ReadTypeSource)
                                {
                                    if (item.IsSelected)
                                    {
                                        <option value="@item.Id" selected="selected">@item.Name</option>

                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <select name="MessageType" class="form-control pull-left" style="width: 180px;">
                                @foreach (var item in Model.MessageTypeSource)
                                {
                                    <option value="@item.Value">@item.Description</option>
                                }
                            </select>
                            <div class="input-group  pull-left search">
                                <input type="text" name="Key" class="form-control" placeholder="key">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info pull-right btn-showmodal hidden" data-id="0"><i class="fa fa-plus"></i>新建消息</button>
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#:MessageTypeStr#</td>
                                    <td>#:Title#</td>
                                    <td>#:Content#</td>
                                    <td>#:IsReadStr#</td>
                                    <td><img src="#:MediaPath#" style="width:15px; height:15px;"></td>
                                    <td>#:UserName#</td>
                                    <td>#:CreationTimeStr#</td>
                                    <td>
                                        <button class="btn btn-sm btn-showmodal btn-info" data-id="#:Id#"><i class="fa fa-edit">编辑</i></button>
                                        <button class="btn btn-sm btn-delete btn-danger" data-id="#:Id#"><i class="fa fa-trash-o">删除</i></button>
                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>类型</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th>已读</th>
                                        <th>图片</th>
                                        <th>接收人</th>
                                        <th>创建时间</th>
                                        <th style="width:150px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="CreateMessageModal" tabindex="-1" role="dialog" aria-labelledby="MessageCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><i class="fa fa-fw fa-user"></i></span>
                    <span>编辑信息</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab1" href="#tab_1" data-toggle="tab">@L("BaseInfo")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form name="itemBaseForm" role="form" class="itemBaseForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="form-group">
                                    <label>标题</label>
                                    <input type="text" name="Title" id="Title" class="form-control" maxlength="50" minlength="1" required readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>内容</label>
                                    <input type="text" name="Content" id="Content" class="form-control" maxlength="1000" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>消息类型</label>
                                    <select name="MessageType" id="MessageType" class="form-control" readonly="readonly" disabled>
                                        @foreach (var item in Model.MessageTypeSource)
                                        {
                                            <option value="@item.Value">@item.Description</option>
                                        }
                                    </select>
                                </div>
                                <div class="checkbox">
                                    <label class="chk-wrap">
                                        <input class="chkbox" type="checkbox" name="IsRead" id="IsRead" value="true" checked="checked">
                                        <label for="chkIsActive"></label> 已读
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>接收人</label>
                                    <input type="text" name="UserName" id="UserName" class="form-control" maxlength="1000" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>图片</label>
                                    <img id="MediaPath" src="" style="width:25px;" />
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>