﻿body #LoginArea {
    margin-top: 180px;
}

.sidebar-menu ul.treeview-menu > li {
    margin-left: 10px;
}

form label.error {
    color: #dd4b39;
}

@media (max-width: 768px) {
    body #LoginArea {
        margin-top: 120px;
    }
}

.q-condition .search {
    width: 240px;
}

.q-condition .btn-search {
    height: 34px;
    padding-top: 4px;
}

.q-condition .form-control {
    margin-bottom: 0;
}

.DdJob .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}

/*table start*/
.km-grid-pager.k-pager-wrap {
    border-width: 0;
}

.k-pager-wrap .k-pager-nav.k-pager-last {
    -ms-border-radius: 1.0833em;
    border-radius: 1.0833em;
}

table thead tr {
    border-top: 2px #f4f4f4 solid;
    background-color: #3c8dbc;
}

@media only screen and (max-width: 1024px) {
    .k-pager-wrap .k-pager-nav.k-pager-last {
        -ms-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }
}

table tbody tr td:last-child,
table thead tr th:last-child {
    text-align: center;
    width: 100px;
}

/*table .fa {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

    table .fa.fa-edit {
        color: #00a65a;
    }

    table .fa.fa-trash-o {
        color: #d73925;
    }*/
/*table end*/

/*card start*/
.box .card-exchange {
    margin-top: 20px;
}

    .box.card-exchange button {
        margin-right: 20px;
    }

    .box.card-exchange .form-group {
        margin-top: 15px;
    }

@media (min-width: 768px) {
    .box.card-exchange .form-horizontal .control-label {
        padding-top: 5px;
    }
}
/*card end*/

/*******treeview style start*******/
.treeview-permissions ul {
    list-style: none;
}

.treeview-roles ul {
    list-style: none;
    padding-left: 8px;
}

.checkbox label.chk-wrap {
    padding-left: 0;
}
/*******treeview style start*******/


/*******checkbox style start*******/
input.chkbox {
    display: none;
}

.chkbox + label {
    border: 1px solid #C1CACA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.chkbox:checked + label {
    border: 1px solid #92A1AC;
}

    .chkbox:checked + label:after {
        content: '\2714';
        position: absolute;
        top: -3px;
        left: 0;
        color: #2489c5;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        padding: 1px 0 0 0;
        vertical-align: text-top;
    }

.chkbox:disabled + label {
    background-color: lightgray;
}

.chkbox:checked:disabled + label:after {
    content: '\2714';
    position: absolute;
    top: -3px;
    left: 0;
    color: #2489c5;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    padding: 1px 0 0 0;
    vertical-align: text-top;
}

.checkbox .chkbox + label {
    min-height: 10px;
    margin-right: 5px;
    border-radius: 3px;
}
/*******checkbox style end*******/

/*******style for mobile start*******/
@media (max-width: 767px) {
    .DdJob .dropdown-menu .user-footer .btn {
        background: #337ab7;
    }

        .DdJob .dropdown-menu .user-footer .btn.btn-danger {
            background-color: #dd4b39;
            border-color: #d73925;
        }

        .DdJob .dropdown-menu .user-footer .btn.btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
}

@media (max-width: 447px) {
    .DdJob .dropdown-menu .user-footer .btn {
        background: #337ab7;
    }

        .DdJob .dropdown-menu .user-footer .btn.btn-danger {
            background-color: #dd4b39;
            border-color: #d73925;
        }

        .DdJob .dropdown-menu .user-footer .btn.btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
        font-size: 12px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
        display: none;
    }

    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        width: 220px;
    }

    .DdJob .q-condition .input-group:not(:first-child) {
        margin-top: 5px;
    }

    .DdJob .nav > li > a {
        padding: 9px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.2), not all {
    .DdJob .k-callout, .k-column-menu .k-sprite, .k-drop-hint, .k-grouping-dropclue, .k-icon:not(.k-loading):not(.k-i-loading), .k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked, .k-state-active .k-tool-icon, .k-state-active.k-state-hover .k-tool-icon, .k-state-hover .k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, .k-tool-icon {
        background-image: url(/css/kendo/sprite.png);
        -webkit-background-size: 340px 336px;
        background-size: 340px 336px;
    }
}
/*******style for mobile end*******/
.barcode-exchange,
.smspwd-exchange,
.barcode-form .barcode label,
.barcode-form .money label,
.smspwd-form .mobile label,
.smspwd-form .password label,
.DdJob-form .card label {
}

.margin-bottom-md {
    margin-bottom: 15px;
}

.form-control {
    margin-bottom: 10px;
}

.q-condition select {
    cursor: pointer
}

.table .btn {
    width: auto
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

input[type=checkbox] {
    min-height: 20px;
    min-width: 20px;
}

.content-pending {
    padding: 20px 15px;
}

    .content-pending .box-solid {
        border-top: 1px solid #f4f4f4
    }

/*******style for TreeList start*******/
.skin-blue .k-treelist .k-grid-header {
    background-color: #3c8dbc;
}

.skin-blue .k-treelist .k-grid-header-wrap th.k-header {
    background-color: #3c8dbc;
    font-weight: bold;
    line-height: 25px;
}

.skin-blue .k-treelist tbody tr {
    height: 37px;
}

.skin-blue .k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background-color: transparent;
}

.skin-blue .k-treelist tbody tr .btn {
    width: auto;
    display: inline;
    margin: 0 5px;
}
/*******style for TreeList end*******/


/*******style for Form start*******/
form.horizontal-layout label.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
/*******style for Form end*******/

/*******style for Upload image*******/
.file-preview-thumbnails {
    display: flex;
}

.file-preview-frame p {
    text-align: center;
    width: 194px;
    float: left;
    margin-top: 10px;
    line-height: 16px;
}

.file-preview-frame {
    width: 220px;
    margin: 5px 5px 10px;
    padding: 5px;
    border: 1px solid #d2d6de;
    border-radius: 3px;
}

    .file-preview-frame i {
        width: 14px;
        float: right;
        color: #dd4b39;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
    }

    .file-preview-frame .kv-file-content {
        width: 210px;
        height: 165px;
        text-align: center;
    }

    .file-preview-frame:first-child {
        margin-left: 0;
    }

.file-preview-image {
    max-height: 100%;
    max-width: 100%;
}

.btn-file {
    margin-bottom: 15px;
    padding: 6px 30px;
}

span.ke-toolbar-icon.ke-toolbar-icon-url.ke-icon-multiimage {
    display: none
}
/*******style for Upload image end*******/
/*******style for Order*******/
.order-detail .page-content {
    padding: 20px 15px;
}

.order-detail .box-solid {
    border-top: 1px solid #f4f4f4;
}

.item-tiling {
    margin: 5px 0;
    overflow: auto;
}
/*******style for Order end*******/

/*******style for Product*******/
.kd-editer {
    min-height: 350px;
}

.product-detail .page-content {
    padding: 20px 15px;
}

#attrDiv label {
    margin-right: 20px;
}
/*******style for Product end*******/
