﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using DdJob
@{
    ViewBag.ActiveMenu = "Bank"; //The menu item will be active for this page.
    ViewBag.Title = L("BankManage");
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Bank/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @L("BankList")
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> @L("BankManage")</li>
            <li><a href="@Url.Action("Index")">@L("BankList")</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <div class="input-group input-group pull-left search">
                                <input type="text" name="Key" class="form-control" placeholder="@L("Search")...">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        @*data-toggle="modal" data-target="#CreateModal*@
                        <button class="btn btn-info pull-right btn-showmodal" data-uid="0"><i class="fa fa-plus"></i> @L("CreateNewBank")</button>
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#: Name #</td>
                                    <td>#: Code #</td>
                                    <td>#: Description #</td>
                                    <td>#: Address #</td>
                                    <td>#: IsActiveText #</td>
                                    <td>#: CreationTimeText #</td>
                                    <td>
                                        <button class="btn btn-sm btn-showmodal btn-info" data-uid="#:Id#"><i class="fa fa-edit">编辑</i></button>
                                        <button class="btn btn-sm btn-delete btn-danger" data-uid="#:Id#"><i class="fa fa-trash-o">删除</i></button>
                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("Name")</th>
                                        <th>@L("Code")</th>
                                        <th>@L("Description")</th>
                                        <th>@L("Address")</th>
                                        <th style="width:80px;">@L("IsActive")</th>
                                        <th>@L("CreationTime")</th>
                                        <th style="width:150px;">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="itemCreateForm" role="form" class="form-validation">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="Id" class="form-control hidden" value="0">
                    <div class="form-group">
                        <label>@L("Name")*</label>
                        <input type="text" name="Name" class="form-control" required maxlength="@StringLengths.Name" minlength="3">
                    </div>

                    <div class="form-group">
                        <label>@L("Description")*</label>
                        <input type="text" name="Description" class="form-control" required maxlength="@StringLengths.Description">
                    </div>

                    <div class="form-group">
                        <label>@L("Code")*</label>
                        <input type="text" name="Code" class="form-control" required maxlength="@StringLengths.Phone">
                    </div>
                    <div class="form-group">
                        <label>邮编</label>
                        <input type="text" name="PostalCode" class="form-control" required maxlength="@StringLengths.PostalCode">
                    </div>
                    <div class="form-group">
                        <label>@L("Address")*</label>
                        <input type="text" name="Address" class="form-control" required maxlength="@StringLengths.Address">
                    </div>

                    <div class="checkbox">
                        <label class="chk-wrap">
                            <input id="chkIsActive" class="chkbox" type="checkbox" name="IsActive" value="true"  checked="checked">
                            <label for="chkIsActive"></label> @L("IsActive")
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>