﻿<template>
    <div :style="{ maxHeight : height + 'px' }" class="dotdotdot">
        <slot></slot>
    </div>
</template>
<script>
    export default {
        name: 'dotdotdot',
        props: {
            height: { type: Number, required: true }
        },
        mounted: function () {
            window.$(this.$el).dotdotdot()
        },
        updated: function () {
            window.$(this.$el).dotdotdot()
        }
    }

</script>