﻿<template>
    <transition name="fade">
        <div class="vue-spin vue-spin-fix ">
            <div class="vue-spin-main">
                <div class="vue-spin-body">
                    <img src="/Propel/Images/logoLoading.png" class="logoLoadingImg" width="40px" height="40px">
                    <div v-if="showText">Loading</div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    export default {
        name: 'loading',
        props: {
            showText: { type: Boolean }
        }
    }

</script>

<style>
    .vue-spin-fix {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 8;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 20px;
    }
    
    .vue-spin-fix .vue-spin-main {
        width: inherit;
        height: inherit;
        display: table;
    }
    
    .vue-spin-body {
        display: table-cell;
        vertical-align: middle;
    }
    
    .vue-spin {
        color: #065785;
        vertical-align: middle;
        text-align: center;
        font-family: 'gotham_bookregular';
        line-height: 20px;
        opacity: 0.8
    }
    .ivu-modal-content .vue-spin-fix {
        border-radius: 6px;
    }
</style>