﻿<template>
    <ul class="pagination clearfix text-center">
        <li title="Previous page" :class="prevClasses" @click="prev"> <a>Previous</i></a>
        </li>
        <li :title="currentPage - 4" v-if="showPrev(4)" @click="changePage(currentPage - 4)">
            <a>{{ currentPage - 4 }}</a></li>
        <li :title="currentPage - 3" v-if="showPrev(3)" @click="changePage(currentPage - 3)">
            <a>{{ currentPage - 3 }}</a></li>
        <li :title="currentPage - 2" v-if="showPrev(2)" @click="changePage(currentPage - 2)">
            <a>{{ currentPage - 2 }}</a></li>
        <li :title="currentPage - 1" v-if="showPrev(1)" @click="changePage(currentPage - 1)">
            <a>{{ currentPage - 1 }}</a></li>
        <li :title="currentPage" class="current">
            <a>{{ currentPage }}</a></li>
        <li :title="currentPage + 1" v-if="showNext(1)" @click="changePage(currentPage + 1)">
            <a>{{ currentPage + 1 }}</a></li>
        <li :title="currentPage + 2" v-if="showNext(2)" @click="changePage(currentPage + 2)">
            <a>{{ currentPage + 2 }}</a></li>
        <li :title="currentPage + 3" v-if="showNext(3)" @click="changePage(currentPage + 3)">
            <a>{{ currentPage + 3 }}</a></li>
        <li :title="currentPage + 4" v-if="showNext(4)" @click="changePage(currentPage + 4)">
            <a>{{ currentPage + 4 }}</a></li>
        <li title="Next page" :class="nextClasses" @click="next"><a>Next</i></a>
        </li>
    </ul>
</template>
<script>
    export default {
        name: 'pager',
        props: {
            current: {
                type: Number,
                default: 1
            },
            total: {
                type: Number,
                default: 0
            },
            pageSize: {
                type: Number,
                default: 10
            },
            groupSize: {
                type: Number,
                default: 5
            }
        },
        data: function () {
            return {
                currentPage: this.current,
                currentPageSize: this.pageSize
            }
        },
        watch: {
            current: function (val) {
                this.currentPage = val
            },
            pageSize: function (val) {
                this.currentPageSize = val
            }
        },
        computed: {
            allPages: function () {
                const allPage = Math.ceil(this.total / this.currentPageSize)
                return (allPage === 0) ? 1 : allPage
            },
            prevClasses: function () {
                return [
                    'arrow pull-left',
                    {
                        'unavailable': this.currentPage === 1
                    }
                ]
            },
            nextClasses: function () {
                return [
                    'arrow pull-right',
                    {
                        'unavailable': this.currentPage === this.allPages
                    }
                ]
            }
        },
        methods: {
            showPrev: function (offset) {
                var page = this.currentPage - offset
                return page >= 1 && (page >= this.currentPage - 2 || page > this.allPages - this.groupSize)
            },
            showNext: function (offset) {
                var page = this.currentPage + offset
                return page <= this.allPages && (page < this.currentPage + this.groupSize - 2 || page <= this.groupSize)
            },
            changePage: function (page) {
                if (this.currentPage !== page) {
                    this.currentPage = page
                    this.$emit('on-change', page)
                }
            },
            prev: function () {
                const current = this.currentPage
                if (current <= 1) {
                    return false
                }
                this.changePage(current - 1)
            },
            next: function () {
                const current = this.currentPage
                if (current >= this.allPages) {
                    return false
                }
                this.changePage(current + 1)
            },
            onSize: function (pageSize) {
                this.currentPageSize = pageSize
                this.changePage(1)
                this.$emit('on-page-size-change', pageSize)
            },
            onPage: function (page) {
                this.changePage(page)
            }
        }
    }

</script>
<style>
</style>