﻿<template>
    <div>
        <slot></slot>
    </div>
</template>
<script>
    export default {
        name: 'slick',
        props: ['options'],
        data: function () {
            return {
                dataOptions: window.$.extend({}, {
                    slidesToShow: 6,
                    dots: true,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 4
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 450,
                            settings: {
                                slidesToShow: 1
                            }
                        }
                    ]
                }, this.options || {})
            }
        },
        mounted: function () {
            if (window.$(this.$el).children().length) {
                window.$(this.$el).slick(this.dataOptions)
            }
        },
        beforeUpdate: function () {
            var $slide = window.$(this.$el)
            if ($slide.hasClass('slick-initialized')) {
                $slide.slick('unslick')
            }
        },
        updated: function () {
            window.$(this.$el).slick(this.dataOptions)
        }
    }

</script>

<style>
</style>