﻿<template>
    <ul data-orbit :data-options="dataOptions">
        <slot></slot>
    </ul>
</template>
<script>
    export default {
        name: 'slide',
        data: function () {
            return {
                dataOptions: 'animation: slide; animation_speed: 500; navigation_arrows: false;' +
                'slide_number: false; pause_on_hover: false; bullets_container_class: orbit-bullets text-right;' +
                    'timer: true; bullets: true'
            }
        },
        updated: function () {
            // window.$(document).foundation('orbit', 'reflow')
        }
    }

</script>