<template>
    <div :class="[{'light-rating':!disabled}, 'rating', 'clearfix']">
        <input type="radio" :id="id + '_5'" :name="id" value="5" :disabled="disabled" v-model="inputValue" @change="change">
        <label :for="id + '_5'" title="Rocks!"> 5 stars</label>
        <input type="radio" :id="id + '_4'" :name="id" value="4" :disabled="disabled" v-model="inputValue" @change="change">
        <label :for="id + '_4'" title="Pretty good"> 4 stars</label>
        <input type="radio" :id="id + '_3'" :name="id" value="3" :disabled="disabled" v-model="inputValue" @change="change">
        <label :for="id + '_3'" title="Meh"> 3 stars</label>
        <input type="radio" :id="id + '_2'" :name="id" value="2" :disabled="disabled" v-model="inputValue" @change="change">
        <label :for="id + '_2'" title="Kinda bad"> 2 stars</label>
        <input type="radio" :id="id + '_1'" :name="id" value="1" :disabled="disabled" v-model="inputValue" @change="change">
        <label :for="id + '_1'" title="Sucks big time"> 1 star</label>
    </div>
</template>
<script>

    export default {
        name: 'star-radio',
        props: {
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                type: [String, Number]
            }
        },
        data: function () {
            return {
                id: 'star_' + new Date().getTime() + Math.random(),
                inputValue: ''
            }
        },
        mounted: function () {
            this.updateModel()
        },
        methods: {
            change: function (event) {
                this.$emit('input', this.inputValue)

                this.$emit('on-blur', event)
                // if (!findComponentUpward(this, ['DatePicker', 'TimePicker', 'Cascader', 'Search'])) {
                //     this.dispatch('vueFormItem', 'on-form-blur', this.currentValue)
                // }
            },
            updateModel: function () {
                this.inputValue = this.value
            }
        },
        watch: {
            value: function (val) {
                this.updateModel()
            }
        }
    }

</script>

<style>
    .rating {
        float: left;
    }

    .rating:not(:checked)>input {
        /*position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);*/
        display: none;
    }

    .rating:not(:checked)>label {
        float: right;
        width: 22px;
        padding: 0 0px 0 0;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 20px;
        line-height: 1;
        color: #8bacbc;
        margin-right: 0px;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
    }

    .rating input[disabled]+label {
        cursor: not-allowed
    }

    .rating input[type=radio]+label:before {
        width: auto;
        height: auto;
        border: none;
    }

    .rating input[type=radio]:checked+label:before {
        background-color: inherit;
        padding: 0;
    }

    .rating:not(:checked)>label:before {
        font-family: 'FontAwesome';
        content: "\f005";
    }

    .light-rating:not(:checked)>label:before {
        content: "\f006";
    }

    .rating>input:checked~label,
    .light-rating.rating:not(:checked)>label:hover,
    .light-rating.rating:not(:checked)>label:hover~label {
        color: #ffae00;
    }

    .light-rating.rating:not(:checked)>label:hover,
    .light-rating.rating:not(:checked)>label:hover~label,
    .rating>input:checked~label .light-rating.rating>input:checked+label:hover,
    .light-rating.rating>input:checked+label:hover~label,
    .light-rating.rating>input:checked~label:hover,
    .light-rating.rating>input:checked~label:hover~label,
    .rating>label:hover~input:checked~label {
        color: #ffae00;
    }
</style>