﻿<template>
    <a class="transparent" @click.prevent="click">
        <slot></slot>
        <slot name="modalContent" v-if="false"></slot>
    </a>
</template>
<script>

    export default {
        name: 'videoLink',
        props: {
            options: {}
        },
        methods: {
            click: function () {
                var modalInstance = this.$Modal.newInstance(Object.assign({}, {
                    closable: true,
                    maskClosable: true,
                    footerHide: true,
                    className: 'video-player',
                    render: (h) => {
                        return h('div', this.$slots['modalContent'])
                    }
                }, this.options))

                var options = Object.assign({}, {
                    width: 750
                }, this.options)

                options.onRemove = function () {
                    modalInstance = null
                }

                modalInstance.show(options)
            }
        }
    }

</script>
<style>
    .video-player .ivu-modal-confirm-footer {
        display: none;
    }

    .video-player .ivu-modal-confirm-head {
        display: none;
    }

    .video-player .ivu-modal-confirm {
        padding: 0;
    }
    .video-player .ivu-modal-confirm-body {
        padding: 0;
    }

    .video-player .ivu-modal-close .ivu-icon-ios-close-empty {
        line-height: 30px;
    }

    .video-player .ivu-modal-close {
        background-color: #fff;
        z-index: 1000;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
    }
</style>