﻿<template>
    <div class="vue-input-wrapper">
        <input type="text" :id="id" class="vue-input" @blur="handleBlur"/>
        <label :for="id" class="datepicker-icon">
            <span class="fa fa-calendar"></span>
        </label>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        name: 'vue-datepicker',
        props: ['options', 'value'],
        data: function () {
            return {
                id: ('dp_' + new Date().getTime() + Math.random()).replace('0.', '_')
            }
        },
        mounted: function () {
            this.initDatePicker()
        },
        watch: {
            value: function (value) {
                // update value
                this.setValue()
            },
            options: {
                handler: function () {
                    // update options
                    this.initOptions()
                },
                deep: true
            }
        },
        computed: {
            initOptions: function () {
                return window.$.extend({
                    format: 'dd/mm/yyyy'
                }, this.options)
            },
            $input: function () {
                return window.$(this.$el).find('input')
            },
            dateValue: function () {
                var date = moment(this.value)
                if (date.isValid()) {
                    return date.toDate()
                }
            }
        },
        methods: {
            initDatePicker: function () {
                this.$input.fdatepicker(this.initOptions).on('changeDate', this.change)
                this.setValue()
                this.$input.on('hide', this.change)
            },
            setValue: function () {
                this.$input.fdatepicker('update', this.dateValue)
            },
            change: function (e) {
                if (this.$input.val()) {
                    this.$emit('input', e.date)
                } else {
                    this.$emit('input', null)
                }
                // if (!findComponentUpward(this, ['DatePicker', 'TimePicker', 'Cascader', 'Search'])) {
                //     this.dispatch('vueFormItem', 'on-form-blur', this.currentValue)
                // }
            },
            handleBlur: function (event) {
                this.$emit('on-blur', event)
                // if (!findComponentUpward(this, ['DatePicker', 'TimePicker', 'Cascader', 'Search'])) {
                //     this.dispatch('vueFormItem', 'on-form-blur', this.currentValue)
                // }
            }
        }
    }

</script>

<style>
    .vue-input-wrapper {
        position: relative
    }
    
    .vue-input-wrapper .datepicker-icon {
        position: absolute;
        top: calc(50% - 8px);
        right: 9px;
        color: #959595;
        font-size: 14px;
    }
</style>