﻿<template>
    <select>
        <slot></slot>
    </select>
</template>

<script>

    export default {
        name: 'vue-select',
        props: ['options', 'value', 'emptyText'],
        mounted: function () {
            this.initSelect2()
            this.setValue()
        },
        watch: {
            value: function (value) {
                // update value
                this.setValue()
            },
            options: {
                handler: function () {
                    // update options
                    this.initSelect2()
                    this.setValue()
                },
                deep: true
            }
        },
        computed: {
            initOptions: function () {
                return window.$.extend({
                    minimumResultsForSearch: Infinity,
                    dropdownAutoWidth: true,
                    theme: 'small'
                }, this.options)
            },
            $select: function () {
                return window.$(this.$el)
            }
        },
        methods: {
            initSelect2: function () {
                this.$select.unbind('change', this.onChange)
                this.removeOption()
                this.$select.select2(this.initOptions)
                this.$select.bind('change', this.onChange)
                this.$select.bind('select2:close', this.handleBlur)
            },
            setValue: function () {
                if (this.value !== this.$select.val()) {
                    this.$select.unbind('change', this.onChange)
                    this.$select.val(this.value).trigger('change')
                    this.$select.bind('change', this.onChange)
                }
            },
            onChange: function (e) {
                this.$emit('input', window.$(e.target).val())
                // if (!findComponentUpward(this, ['DatePicker', 'TimePicker', 'Cascader', 'Search'])) {
                //     this.dispatch('vueFormItem', 'on-form-blur', this.currentValue)
                // }
            },
            handleBlur: function (event) {
                this.$emit('on-blur', event)
                // if (!findComponentUpward(this, ['DatePicker', 'TimePicker', 'Cascader', 'Search'])) {
                //     this.dispatch('vueFormItem', 'on-form-blur', this.currentValue)
                // }
            },
            removeOption: function () {
                var self = this
                self.$select.children().each(function (index, el) {
                    if (index >= self.$slots.default.length) {
                        el.remove()
                    }
                })
            }
        },
        destroyed: function () {
            window.$(this.$el).off().select2('destroy')
        }
    }

</script>

<style>

</style>