﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using DdJob
@{
    ViewBag.ActiveMenu = "Role"; //The menu item will be active for this page.
    ViewBag.Title = L("RoleManage");
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Role/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @L("RoleList")
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> @L("RoleManage")</li>
            <li><a href="@Url.Action("Index")">@L("RoleList")</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <div class="input-group input-group pull-left" style="width: 180px;">
                                <input type="text" name="Key" class="form-control" placeholder="@L("Search")...">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right btn-showmodal" data-uid="0"><i class="fa fa-plus"></i> @L("CreateNewRole")</button>
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#: Name #</td>
                                    <td>#: DisplayName #</td>
                                    <td>#: IsStaticText #</td>
                                    <td>#: CreationTimeText #</td>
                                    <td>
                                        <button class="btn btn-sm btn-info btn-showmodal" data-uid="#:Id#"><i class="fa fa-edit"> 编辑</i></button>
                                        <button class="btn btn-sm btn-danger btn-delete" data-uid="#:Id#"><i class="fa fa-trash"> 删除</i></button>

                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>@L("Name")</th>
                                        <th>@L("DisplayName")</th>
                                        <th>@L("IsStatic")</th>
                                        <th>@L("CreationTime")</th>
                                        <th style="width:150px;">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab1" href="#tab_1" data-toggle="tab">@L("BaseInfo")</a></li>
                        <li><a id="tab2" href="#tab_2" data-toggle="tab">@L("PermissionManage")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form name="itemBaseForm" role="form" class="itemBaseForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="form-group">
                                    <label>@L("Name")*</label>
                                    <input type="text" name="Name" class="form-control" required maxlength="@StringLengths.Name">
                                </div>

                                <div class="form-group">
                                    <label>@L("DisplayName")*</label>
                                    <input type="text" name="DisplayName" class="form-control" required maxlength="@StringLengths.Description">
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <form name="itemPermissionForm" role="form" class="itemPermissionForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="checkbox treeview-permissions">
                                </div>
                                <div class="btns-group text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
