﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @*<link href="~/Content/admin/app.css" rel="stylesheet" />*@
    @*<link href="~/Content/admin/element-ui-theme.css" rel="stylesheet" />*@
    <link href="~/JSTemplates/dist/css/admin.css" rel="stylesheet" />
    <link rel="icon" href="~/favicon.ico"/>

    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
</head>
<body>
    @RenderBody()
    <script src="~/JSTemplates/dist/js/vendor.js"></script>
    <script src="~/JSTemplates/dist/js/admin.js"></script>
</body>
</html>
