﻿@{
    ViewBag.Title = ("登录");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="root-container">
        <div class="manage_page fillcontain">
            <div class="el-row" style="height: 100%;">
                <user-list></user-list>
                @*<left-menu></left-menu>*@
            </div>
        </div>
</div>