﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@{
    ViewBag.ActiveMenu = "Business"; //The menu item will be active for this page.
    ViewBag.Title = "商户列表";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Business/Index.js")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            商户列表
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>商户管理</li>
            <li><a href="JavaScript:;">商户列表</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content box box-primary">
                    <div class="box-header">
                        <div class="q-condition">
                            <div class="input-group input-group pull-left search">
                                <input type="text" name="BusinessName" class="form-control" placeholder="商家名称">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info pull-right btn-showmodal" data-bid="0"><i class="fa fa-plus"></i> @L("CreateNewBusiness")</button>
                    </div>
                    <div class="box-body q-result">
                        <div id="gridList" class="q-grid">
                            <script type="text/x-kendo-template" id="grid_template">
                                <tr>
                                    <td>#: Id #</td>
                                    <td>#: Code #</td>
                                    <td>#: Name #</td>
                                    <td>#: IsActiveStr #</td>
                                    <td>#: CreationTimeText #</td>
                                    <td>
                                        <button class="btn btn-sm btn-showmodal btn-info" data-bid="#:Id#"><i class="fa fa-edit">编辑</i></button>
                                        <button class="btn btn-sm btn-delete btn-danger" data-bid="#:Id#"><i class="fa fa-trash-o">删除</i></button>
                                    </td>
                                </tr>
                            </script>
                            <table id="gridSample" class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>编号</th>
                                        <th>商家名称</th>
                                        <th>商家状态</th>
                                        <th>创建时间</th>
                                        <th style="width:150px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="source: dataSource" data-template="grid_template"></tbody>
                            </table>
                            <div class="km-grid-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="CreateBusinessModal" tabindex="-1" role="dialog" aria-labelledby="BusinessCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><i class="fa fa-fw fa-user"></i></span>
                    <span>@L("CreateNewBusiness")</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="tab1" href="#tab_1" data-toggle="tab">@L("BaseInfo")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form name="itemBaseForm" role="form" class="itemBaseForm form-validation" onsubmit="return false;">
                                <input type="text" name="Id" class="form-control hidden" value="0">
                                <div class="form-group">
                                    <label>编号*</label>
                                    <input type="text" name="Code" class="form-control" required maxlength="50" minlength="1">
                                </div>

                                <div class="form-group">
                                    <label>名称</label>
                                    <input type="text" name="Name" class="form-control" maxlength="50" minlength="1">
                                </div>

                                <div class="form-group">
                                    <label>描述</label>
                                    <input type="text" name="Description" class="form-control" maxlength="1000">
                                </div>
                                <div class="checkbox">
                                    <label class="chk-wrap">
                                        <input id="chkIsActive" class="chkbox" type="checkbox" name="IsActive" value="true" checked="checked">
                                        <label for="chkIsActive"></label> @L("IsActive")
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>地址</label>
                                    <input type="text" name="Address" class="form-control" maxlength="1000">
                                </div>

                                <div class="form-group">
                                    <label>电话</label>
                                    <input type="text" name="Phone" class="form-control" maxlength="20">
                                </div>

                                <div class="form-group">
                                    <label>收货人名称</label>
                                    <input type="text" name="ReceiverName" class="form-control" maxlength="1000">
                                </div>

                                <div class="form-group">
                                    <label>收货人电话</label>
                                    <input type="text" name="ReceiverPhone" class="form-control" maxlength="1000">
                                </div>
                                <div class="form-group">
                                    <label>银行名称</label>
                                    <input type="text" name="BankName" class="form-control" maxlength="1000">
                                </div>
                                <div class="form-group">
                                    <label>银行账号</label>
                                    <input type="text" name="BankCardNum" class="form-control" maxlength="1000">
                                </div>
                                <div class="form-group">
                                    <label>银行开户人</label>
                                    <input type="text" name="BankAccountUser" class="form-control" maxlength="1000">
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>